
.bookingsForm {
    max-width: 30rem;
    margin: 0 auto;

    .bookingsHdr {
        font-size: 3.5rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    select.customSelect {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        font-size: 1.5rem;
        font-weight: 400;
        color: rgb(0, 0, 0);
        padding: 2rem;
        border: solid #707070 1px;
        border-radius: .2rem;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: url(../svg/bookings-select-arrow.svg);
        background-repeat: no-repeat;
        background-position: right 2rem top 50%, 0 0;
        cursor: pointer;
    }
}

.BookTableBtnWrapper {
    max-width: 30rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .BookTableBtn {
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 400;
        color: $clr-site-white;
        text-decoration: none;
        padding: 2rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        display: block;
        background: #1E1D21;
        border: solid $clr-site-white .1rem;
        outline: none;
        cursor: pointer;

        &:hover {
            opacity: .75;
            @include easeInOut;
        }

        &:visited {
            color: $clr-site-white;
        }
    }
}

.bookingsImgWrapper {
    text-align: center;

    .bookATableDesktopImg {
        max-width: 95.8rem;
        width: 80vw;
        height: auto;
    }

    .bookATableMobileImg {
        margin: 0 auto;
        display: none;
    }
}