h1.contactPageHdr {
    color: $clr-site-offWhite;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    margin: 7rem 0 1.5rem 0;
    padding-bottom: 0;
}

section.ContactFormSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div.contactFormWrapper {
        padding-right: 2rem;

        div.contactForm {
            margin-bottom: 5rem;

            form {

                .formName,
                .formEmail,
                .formPhoneNo,
                .formMsg {
                    margin: 2rem 0;
                }

                label {
                    display: block;
                    font-size: 1.6rem;
                    margin-bottom: .5rem;
                }

                input[type=text],
                input[type=email],
                input[type=tel] {
                    width: 42.1rem;
                    height: 3.5rem;
                    background: #414141;
                    border: none;
                    color: $clr-site-white;
                    font-size: 1.4rem;
                    padding-left: 1rem;
                }

                #message {
                    padding: 1rem 0 0 2rem;
                }

                textarea {
                    background: #414141;
                    border: none;
                    color: $clr-site-white;
                    font-family: inherit;
                    padding-left: 1rem;
                    padding-top: 2rem;
                    font-size: 1.4rem;
                    width: 42.1rem;
                    height: 20rem;
                }

                input[type=submit] {
                    background: #414141;
                    font-size: 1.4rem;
                    color: $clr-site-white;
                    border: none;
                    margin-top: 1.5rem;
                    padding: 1rem 3rem;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                        opacity: .7;
                        @include easeInOut;
                    }
                }
            }
        }
    }

    div.contactStoreLocations {
        padding-left: 2rem;
        padding-top: 1.5rem;

        h2 {
            font-size: 2rem;
            font-weight: 700;
            padding: 0 0 .2rem 0;
            color: rgb(75, 75, 75);
            text-transform: uppercase;
        }

        p {
            width: 33.5rem;
            font-size: 1.6rem;
            margin-bottom: 2.5rem;
        }
    }
}