/* ===================================================================
            Media Queries: General Styles
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1000px) {
    nav.top-nav {

        .container {
            padding: 1.5rem 0;
        }
    }

    .hamburger-btn {
        display: flex;
    }

    .leftTopNav,
    .rightTopNav {
        display: none;
    }

    .topNavLogoWrapper {
        text-align: right;
        padding-right: 2rem;
    }
}

/* ===================================================================
            Media Queries: Homepage
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1176px) {

    div.seeSpecialsBtnSection {

        div.seeSpecialsWrapper {

            a.seeSpecialsBtn {
                padding-top: 1.6rem;
            }
        }
    }
}

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1120px) {

    div.seeSpecialsBtnSection {

        div.seeSpecialsWrapper {

            a.seeSpecialsBtn {
                padding-top: 2.5rem;
            }
        }
    }
}

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1078px) {

    div.seeSpecialsBtnSection {

        div.seeSpecialsWrapper {

            a.seeSpecialsBtn {
                padding-top: 3.5rem;
            }
        }
    }
}

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1000px) {

    div.homePageImgSection {

        img.heroImage {
            width: 60vw;
            height: auto;
        }
    }

    /* ===================================================================
            See Specials Btn
=================================================================== */

    div.seeSpecialsBtnSection {
        display: none;
    }

    /* ===================================================================
        Socials, Reserve Table and Mini Bio Section
=================================================================== */

    section.socials-resrv-minibio {
        flex-direction: column;
        text-align: center;
        margin-top: -2rem;
    }

    /* ===================================================================
            Reservation Button
=================================================================== */

    div.makeReservationCol {
        display: block;
        margin: 0 auto;
        order: 0;

        div.resevationBtn {
            margin-right: auto;
            margin-left: auto;
            padding-right: 0;

            a {
                font-size: 1.6rem;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
                color: $clr-site-red;
                padding: 1.5rem 2.5rem;
                background-color: $clr-site-yellow;
                border-radius: 2rem;
                text-align: center;
            }
        }
    }

    /* ===================================================================
            Scroll Down Button
=================================================================== */

    div.scrollDownCol {
        display: block;
        margin: 0 auto;
        order: 1;

        h2.homeAboutUsHdr {
            margin-top: 6rem;
        }
    }

    /* ===================================================================
            Steak 'N' Beer Mini Bio
=================================================================== */

    div.miniBioCol {
        display: block;
        margin-top: 10rem;
        margin-left: auto;
        margin-right: auto;
        order: 2;

        div.miniBioImgSection {
            margin: 0;

            img {
                display: block;
                margin: 5rem auto;
                padding-right: 0;
            }

            h1 {
                text-align: center;
                padding-right: 0;
                margin: -9rem;
            }
        }
    }

    div.miniBiotext {
        width: 60%;
        margin: 0 auto;

        p {
            color: $clr-site-red;
            font-size: 1.4rem;
            text-align: center;
            line-height: 1.5;
            padding-right: 0;
            margin-right: auto;
            margin-left: auto;
            padding-top: 13rem;
        }
    }

    /* ===================================================================
            Socials
=================================================================== */

    div.socialsCol {
        padding-left: 0 !important;
        padding-right: 0;
        display: block;
        margin: 5rem auto 0 auto;
        order: 4;

        div.socialsBtns {
            width: 50vw !important;
            text-align: center;

            a {
                display: inline-block !important;
                padding: 2rem 1rem 5rem 1rem !important;
                color: rgb(77, 77, 77);
            }
        }
    }

    /* ===================================================================
            Responsive See Our Specials Section
=================================================================== */

    div.responisveSeeSpecialsBtn {
        position: relative;
        margin: 5rem auto 0 auto;
        display: block;
        order: 3;
    }
}

/*  Small Laptop Screens  */

@media only screen and (max-width: 787px) {

    div.homePageImgSection {

        img.heroImage {
            width: 80vw;
            height: auto;
        }
    }
}

/*  Tablets  */

@media only screen and (max-width: 575px) {

    div.homePageImgSection {

        p {
            font-size: 1.2rem;
            padding: 0 2.5rem 1rem 2.5rem;
            line-height: 1.2;
        }
    }
}

/*  Phones  */

@media only screen and (max-width: 370px) {

    div.miniBioImgSection,
    div.responisveSeeSpecialsBtn {

        img {
            width: 85vw;
        }
    }
}

/* ===================================================================
            Media Queries: Menu - Menu Nav
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1200px) {}

/*  Small Laptop Screens  */

@media only screen and (max-width: 992px) {}

/*  Tablets  */

@media only screen and (max-width: 900px) {}

/*  Larger Phones  */

@media only screen and (max-width: 600px) {
    ul.menuNav {

        li {
            padding-left: 0 !important;
        }
    }

}

/*  Medium Phones  */

@media only screen and (max-width: 500px) {

    ul.menuNav {
        margin-left: auto;
        margin-right: auto;

        li {
            padding-left: 0 !important;

            a {
                color: $clr-site-offWhite;
                text-decoration: none;
                text-align: center;
                display: block;
                font-weight: 600;
                background: inherit;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;
                padding: 0 1.5rem !important;
                font-size: 1.8rem !important;
            }
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 400px) {}


/* ===================================================================
            Media Queries: Menu - Brunch
=================================================================== */

/*  Small Laptop Screens  */

@media only screen and (max-width: 1000px) {
    .brunchOpeningHours {

        p {
            padding-left: 0;
        }
    }
}

/*  Tablets  */

@media only screen and (max-width: 900px) {

    .bfastMenuSection {
        padding: 0;
        margin-top: 5rem;

        div.bfastSpecialSection {
            display: none;
        }

        .breakfastMenuWrapper {
            padding-left: 0;

            h1 {
                margin-bottom: 2rem;
            }
        }
    }

    .hotDrinksMenuSection {
        padding: 0;
        margin-top: 5rem;

        .hotDrinksMenuWrapper {
            h2 {
                margin-bottom: 2rem;
            }
        }

        .hotDrinksFaveSection {
            display: none;
        }
    }

    .refresherSection {
        padding: 0;
        margin-top: 5rem;

        .refresherSpecialSection {
            display: none;
        }

        .refresherMenuSection {
            padding: 0;

            .refresherMenuWrapper {
                h2 {
                    margin-bottom: 2rem;
                }
            }
        }
    }
}

/*  Medium Phones  */

@media only screen and (max-width: 650px) {
    .brunchOpeningHours {

        p {
            width: 100%;
        }
    }
}

/* ===================================================================
            Media Queries: Menu - Mains
=================================================================== */

/*  Tablets  */

@media only screen and (max-width: 900px) {

    .forAllergyInfo {
        p {
            margin-bottom: 5rem;
            padding-left: 0;
        }
    }

    .nibblesMenuSection {
        margin-top: 3rem;
        padding: 0;

        .nibblesMenuWrapper {
            padding-right: 0;

            h2 {
                margin-bottom: 2rem;
            }
        }

        .nibblesFeatImgSection {
            display: none;
        }
    }

    .SnBSection {
        margin-top: 3rem;
        padding: 0;

        .featSnBWrapper {
            display: none;
        }

        .SnBMenuSection {
            padding-left: 0;

            h2 {
                margin-bottom: 2rem;
            }
        }
    }

    .dessertsMenuSection {
        margin-top: 3rem;
        padding: 0;

        .dessertsMenuWrapper {
            padding-right: 0;

            h2 {
                margin-bottom: 2rem
            }
        }

        .fattyFaveSection {
            display: none;
        }
    }
}

/* ===================================================================
            Media Queries: Menu - Beers
=================================================================== */

/*  Small Laptop Screens  */

@media only screen and (max-width: 1000px) {

    .beersSection {

        .beersFeatImgSection {
            display: none;
        }

        .beersMenuSection {
            .beersMenuWrapper {
                padding-left: 0;
            }
        }
    }

    .ciderMenuSection {
        margin-top: -6rem;

        .ciderMenuWrapper {

            h2 {
                margin-bottom: 2rem;
            }

            .ciderMenu {
                padding-right: 0;
            }
        }

        .cidersFeatImgSection {
            display: none;
        }
    }
}

/*  Tablets  */

@media only screen and (max-width: 900px) {

    .extensiveRangeOfBeers {

        p {
            padding-left: 0;
        }
    }

    .beersSection {
        padding: 0;
    }

    .ciderMenuSection {
        padding: 0;
    }
}

/*  Larger Phones  */

@media only screen and (max-width: 600px) {
    div.extensiveRangeOfBeers {
        p {
            width: 100%;
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 490px) {

    .beersMenu {
        font-size: 1.4rem;

        .beerNameCol,
        .PintsCol,
        .halfPintCol,
        .bottlePriceCol {
            font-size: 1.4rem;

            h3 {
                font-size: 1.4rem;
            }

            .beerName,
            .pintPrice,
            .emptyPrice,
            .halfPintPrice,
            .bottlePrice {
                font-size: 1.4rem;
            }
        }
    }
}

/* ===================================================================
            Media Queries: Bookings
=================================================================== */

/*  Tablets  */

@media only screen and (max-width: 800px) {
    .bookingsImgWrapper {

        .bookATableDesktopImg {
            display: none;
        }

        .bookATableMobileImg {
            display: block;
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 375px) {
    img.bookATableMobileImg {
        max-width: 30rem;
        height: auto;
    }
}

/*  Small Phones  */

@media only screen and (max-width: 350px) {

    div.bookingsForm {
        width: 80vw;

        select.customSelect {
            padding-left: 1rem;
            background-position: right 1rem top 50%,
                0 0;
        }
    }

    div.BookTableBtnWrapper {
        width: 80vw;
        margin-top: 2rem;
    }

    img.bookATableMobileImg {
        width: 80vw;
        height: auto;
    }
}

/* ===================================================================
            Media Queries: Specials
=================================================================== */

/*  Small Laptop Screens  */

@media only screen and (max-width: 1024px) {

    .SpecialsBSSection {
        padding-bottom: 7rem;
        border-bottom: solid rgba(255, 255, 255, .3) 1px;
    }

    .fattyFaveSpecialSection {
        margin: 5rem 0;
    }
}

/*  Larger Phones  */

@media only screen and (max-width: 700px) {

    .steakStackSpecialImg,
    .fattyFaveSpecialImg {
        max-width: 80vw;
        max-height: 90vh;
    }
}

/*  Larger Phones  */

@media only screen and (max-width: 529px) {

    .specialsSSTxtOutlineImg,
    .specialFFTxtOutlineImg {
        display: none;
    }

    .SpecialsSSDesc,
    .specialsDessertDesc {

        p {
            margin: 0 auto;
            text-align: center;
            padding: 0;
        }
    }
}

/* ===================================================================
            Media Queries: Locations
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1110px) {

    .locationsWrapper {
        justify-content: space-around;
    }
}

/*  Small Laptop Screens  */

@media only screen and (max-width: 1000px) {
    .locationsSection {

        h1 {
            display: block;
            text-align: center;
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 400px) {

    .locationHoxtonSq,
    .locationBrixton,
    .locationCroydonCentre,
    .locationClapham {
        img {
            width: 80vw;
        }

        h2 {
            width: 80vw;
        }
    }
}

/* ===================================================================
            Media Queries: Opening Hours
=================================================================== */

/*  Larger Phones  */

@media only screen and (max-width: 600px) {

    .openingHrsPageWrapper {

        .openingHrsImgWrapper {
            padding: 0;
        }
    }
}

/* ===================================================================
            Media Queries: Privacy
=================================================================== */

/*  Tablets  */

@media only screen and (max-width: 900px) {

    .privacyContentSection {
        margin-top: 5rem;
    }
}

/*  Tablets  */

@media only screen and (max-width: 750px) {
    .privacyContentSection {

        .privacyContentWrapper {
            padding: 2rem;
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 450px) {
    .privacyContentSection {
        margin-top: 0;

        .privacyContentWrapper {

            h1 {
                margin-bottom: 0;
            }
        }
    }
}

/* ===================================================================
            Media Queries: Contact
=================================================================== */

/*  Tablets  */

@media only screen and (max-width: 800px) {

    .ContactFormSection {

        .contactFormWrapper {
            padding-right: 0;
            width: 100%;
        }

        .contactStoreLocations {
            width: 42rem;
            padding-left: 0;
            margin-top: 5rem;
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 375px) {

    .ContactFormSection {
        width: 100%;

        .contactStoreLocations {
            width: 100%;

            .contactHoxtonSq,
            .contactBrixton,
            .contactCroydonCentre,
            .contactClapham {

                h2 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
}