/* ===================================================================
        Extensive Range Of Beers
=================================================================== */

.extensiveRangeOfBeers {

    p {
        width: 85vw;
        font-size: 1.6rem;
        color: $clr-site-offWhite;
        font-weight: 400;
        padding-left: 2rem;
        margin-top: 2rem;
    }
}

/* ===================================================================
        Beers Featured Image Section
=================================================================== */

.beersSection {
    display: flex;
    margin-top: 6rem;
    padding: 0 2rem;
}

.beersFeatImgSection {
    padding-top: 10rem;
}

/* ===================================================================
        Beers Menu
=================================================================== */

.beersMenuSection {
    width: 100%;

    .beersMenuWrapper {
        padding-left: 6rem;

        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.beersMenu {
    display: flex;
    margin: -3.5rem 0 10rem 0;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .beerNameCol {
        font-weight: 700;

        .beerName {
            padding-bottom: 2rem;
            font-size: 1.6rem;
        }
    }

    .PintsCol {
        text-align: right;

        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 5rem;
        }

        .pintPrice {
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 2rem;
        }

        .emptyPrice {
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 2rem;
            color: #010101;
        }
    }

    .halfPintCol {
        text-align: right;

        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 5rem;
        }

        .halfPintPrice {
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 2rem;
        }

        .emptyPrice {
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 2rem;
            color: #010101;
        }
    }

    .bottlePriceCol {
        text-align: right;

        h3 {
            font-size: 2rem;
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 5rem;
        }

        .bottlePrice {
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 2rem;
        }

        .emptyPrice {
            font-size: 1.6rem;
            font-weight: 700;
            padding-bottom: 2rem;
            color: #010101;
        }
    }
}

/* ===================================================================
        Ciders Menu
=================================================================== */

.ciderMenuSection {
    display: flex;
    padding: 0 2rem;

    .ciderMenuWrapper {
        width: 100%;

        h2 {
            font-size: 3.5rem;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 4.5rem;
        }

        .ciderMenu {
            padding-right: 6rem;

            .productItem {
                padding-bottom: 2rem;

                .productTopInfo {
                    vertical-align: top;
                    display: flex;
                    -webkit-box-align: end;
                    align-items: flex-end;
                    -webkit-box-pack: justify;
                    justify-content: space-between;

                    .productName,
                    .productPrice {
                        font-weight: 700;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

/* ===================================================================
        Ciders Featured Image Section
=================================================================== */

.cidersFeatImgSection {
    display: flex;
    padding-top: 8rem;
}