h1.openingHrsHdr {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 4rem;
    padding-top: 0;
}

div.openingHrsPageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

    div.openingHrsImgWrapper {
        padding: 2rem;


        img.openingHrsImg {
            display: block;
            border: solid $clr-site-yellow .1rem;
            padding: .5rem;
        }

    }
}

div.openingHrstextInfo {
    padding-top: 2rem;
    width: 47.4rem;

    .hoxtonSq,
    .brixton,
    .croydonCentre,
    .clapham {
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: rgb(75, 75, 75);
        text-transform: uppercase;
    }

    p {
        font-size: 1.6rem;
    }

    p.pleaseNote {
        width: 70%;
        padding-top: 2rem;
    }
}