.openingHrsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.openingHrsHdr {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
}

.openingHrsPageWrapper {
    display: inline-flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-around;
    margin: 4rem auto 0 auto;

    .openingHrsImgWrapper {
        padding: 2rem;

        .openingHrsImg {
            display: block;
            border: solid $clr-site-yellow .1rem;
            padding: .5rem;
            max-width: 47.4rem;
            width: 100%;
            height: auto;
        }
    }
}

.openingHrstextInfo {
    margin-top: 2rem;
    max-width: 47.4rem;

    .hoxtonSq,
    .brixton,
    .croydonCentre,
    .clapham {
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        font-weight: 700;
        color: rgb(75, 75, 75);
        text-transform: uppercase;
    }

    p {
        font-size: 1.6rem;
    }

    .pleaseNote {
        margin-top: 2rem;
        width: 70%;
    }
}