.privacyContentSection {
    margin-top: 10rem;

    .privacyContentWrapper {
        background-color: $clr-site-white;
        padding: 8rem 12rem 1rem 12rem;
        line-height: 1.4;
        margin: 0 auto;

        h1 {
            font-size: 5rem;
            font-weight: 300;
            color: rgb(31, 31, 31);
            margin-bottom: 2rem;
        }

        p {
            font-size: 1.6rem;
            color: rgb(18, 18, 18);
            font-weight: 300;
            padding-bottom: 5rem;

            a {
                font-size: 1.6rem;
                font-weight: 300;
                color: $clr-site-red;
                text-decoration: none;
                cursor: pointer;
            }

            .phoneNo {
                font-size: 1.6rem;
                font-weight: 300;
                color: rgb(18, 18, 18);
            }
        }

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
            color: rgb(31, 31, 31);
            padding-bottom: 1rem;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 600;
            text-transform: uppercase;
            color: rgb(31, 31, 31);
            padding-bottom: .5rem;
        }
    }
}

.blackBoxBottom {
    background: #010101;
    height: 15rem;
}