/* ===================================================================
        Specials Top Section
=================================================================== */

.specialsTopInfo {
    text-align: center;
    margin: 0 auto;

    h1 {
        font-size: 3.5rem;
        font-weight: 600;
    }

    p {
        font-size: 1.8rem;
        font-weight: 300;
        margin-top: 1.5rem;
    }
}

/* ===================================================================
        Steak Stack Specials Section
=================================================================== */

.specialsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 6rem;
}

.SpecialsBSSection {

    .SpecialsBSHdrAndImg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .SpecialsBSHdr {
            font-size: 2.5rem;
            font-weight: 400;
            color: $clr-site-yellow;
            padding-bottom: 3rem;
            text-align: center;

            &.SpecialsBSHdr:before,
            &.SpecialsBSHdr:after {
                background-color: $clr-site-yellow;
                display: inline-block;
                content: '';
                height: .2rem;
                width: 2rem;
                position: relative;
                vertical-align: middle;

                &.SpecialsBSHdr:before {
                    right: 2rem;

                    &.SpecialsBSHdr:after {
                        left: 2rem;
                    }
                }
            }
        }
    }
}

.steakStackSpecialImg,
.fattyFaveSpecialImg {
    display: block;
    max-width: 40vw;
    max-height: 50vh;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.SpecialsSSDesc {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .specialsSSHdr {
        margin: 2rem 0;
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        margin-top: -4.9rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3rem;
        width: 55%;
        font-size: 1.4rem;
        text-align: left;
    }
}

/* ===================================================================
        Fatty Fave Specials Section
=================================================================== */

.fattyFaveSpecialSection {

    .dessertHdrAndImg {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .dessertHdr {
            font-size: 2.5rem;
            font-weight: 400;
            color: $clr-site-red;
            padding-bottom: 3rem;
            text-align: center;

            &.dessertHdr:before,
            &.dessertHdr:after {
                background-color: $clr-site-red;
                display: inline-block;
                content: '';
                height: .2rem;
                width: 2rem;
                position: relative;
                vertical-align: middle;

                &.dessertHdr:before {
                    right: 2rem;

                    &.dessertHdr:after {
                        left: 2rem;
                    }
                }
            }
        }
    }
}

.specialsDessertDesc {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h2 {
        margin: 2rem 0;
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        width: 55%;
        font-size: 1.4rem;
        margin: -4.8rem auto;
        text-align: right;
    }
}