// div.mobileMenuNavBar {
//     z-index: 100;
//     width: 90vw;
//     height: 10rem;
//     display: flex;
//     position: fixed;
//     left: 50%;
//     transform: translateX(-50%);
//     background: #010101;
//     display: none;

//     div.hamburger-icon {
//         padding-top: 4rem;
//         padding-left: 2rem;
//         cursor: pointer;
//     }

//     div.MobileNavLogoWrapper {
//         margin-left: auto;
//         padding: 2rem;

//         svg.MobileNavLogo {
//             fill: #676767;
//             width: 14rem;
//             height: auto;
//         }
//     }
// }


/* ===================================================================
        mobile Nav Styles
=================================================================== */






/* ===================================================================
        mobile Menu Styles
=================================================================== */

div.mobile-menu {
    height: 100vh;
    width: 0;
    top: 0;
    left: 0;
    background: #070707;
    overflow-y: scroll;
    padding-top: 15rem;
    transition: 0.5s;
    position: fixed;
    z-index: 102;

    div.mobileMenuLinks {

        a.close-btn {
            position: absolute;
            top: 1.5rem;
            left: 0;
            font-size: 4rem;
            font-weight: 300;
            opacity: .5;
            border: none;
            cursor: pointer;

            &:hover {
                color: #fff;
                opacity: 1;
            }
        }
    }
}

div.mobile-menu a {
    padding: .5rem 0;
    text-decoration: none;
    font-size: 2rem;
    color: var(--site-light-grey);
    display: block;
    transition: all 0.7s ease-in-out;
    opacity: .5;
    border-bottom: solid rgba(255, 255, 255, .3) .1px;
    margin: 0 2rem;

    &:hover {
        color: $clr-site-yellow;
        opacity: 1;
    }

    &:first-child {
        border-bottom: none;
    }
}

div.mobileMenuSocialsBtns {
    margin-top: 5rem;

    i.fab,
    a {
        font-size: 2rem;
        border: none;
        display: inline-block;

        &:hover {
            color: #fff;
        }
    }
}

div.mobileMenuLogoLink {

    a {
        position: absolute;
        top: 0;
        right: 1rem;
        opacity: .5;
        cursor: pointer;
        padding-top: 2rem;
        text-decoration: none;

        svg.mobileMenuLogo {
            fill: #676767;
            margin-top: 1rem;
            width: 10rem;
            height: auto;
        }
    }
}