/* ===================================================================
        mobile Menu Styles
=================================================================== */

.mobile-menu {
    position: fixed;
    height: 0;
    width: 100vw;
    top: 0;
    left: 0;
    background: #070707;
    opacity: 0;
    backdrop-filter: blur(2rem);
    overflow-y: scroll;
    padding-top: 10rem;
    z-index: 102;
    visibility: hidden;
    transition: all .4s ease-in-out;

    &.open {
        height: 100vh;
        visibility: visible;
        opacity: 1;
    }

    .mobileMenuLinks {
        width: 40%;
        margin: 0 auto;
        text-align: center;
    }
}

.mobileMenuLinks a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: var(--site-light-grey);
    display: block;
    opacity: .5;
    transition: all 0.5s ease-in-out;

    &::after {
        content: '';
        background: rgba(255, 255, 255, .2);
        width: 70%;
        height: .1rem;
        display: block;
        margin: 3rem auto 3rem auto;
    }

    &:hover {
        color: $clr-site-yellow;
        opacity: 1;
    }

    &:active {
        color: $clr-site-yellow;
        opacity: 1;
    }
}

.mobileMenuSocialsBtns {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;

    i.fab,
    a {
        color: rgba(255, 255, 255, .3);
        font-size: 2rem;
        text-decoration: none;
        display: block;
        padding: 2rem;
        transition: all 0.5s ease-in-out;

        &:hover {
            color: #fff;
        }
    }
}